{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<form method="POST" action="{{ url_for('auth.login') }}"> {# Good practice to specify action #}
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control" + (" is-invalid" if form.username.errors else ""), size=32) }}
        {% if form.username.errors %}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                    <span>{{ error }}</span><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else ""), size=32) }}
        {% if form.password.errors %}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="mb-3 form-check">
        {{ form.remember(class="form-check-input" + (" is-invalid" if form.remember.errors else "")) }}
        {{ form.remember.label(class="form-check-label") }}
        {% if form.remember.errors %}
            <div class="invalid-feedback">
                {% for error in form.remember.errors %}
                    <span>{{ error }}</span><br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
