Flask
Flask-Login
Flask-SQLAlchemy
flask-bcrypt
reportlab
gunicorn
Flask-WTF
email-validator
Flask-Migrate
Flask-Mail
flask-restx
blinker==1.8.2
click==8.1.7
colorama==0.4.6
itsdangerous==2.1.2
Flask==3.0.3
greenlet==3.1.1
