{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<form method="POST" action=""> {# Action URL is handled by Flask's routing #}
    {{ form.hidden_tag() }} {# Includes CSRF token and any other hidden fields #}

    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}<br>
        {% if form.name.errors %}
            {% for error in form.name.errors %}<span style="color:red;">[{{ error }}]</span>{% endfor %}
        {% endif %}
    </p>
    <p>
        {{ form.category.label }}<br>
        {{ form.category(size=32) }}<br>
        {% if form.category.errors %}
            {% for error in form.category.errors %}<span style="color:red;">[{{ error }}]</span>{% endfor %}
        {% endif %}
    </p>
    <p>
        {{ form.exposure_limit.label }}<br>
        {{ form.exposure_limit(size=10) }}<br>
        {% if form.exposure_limit.errors %}
            {% for error in form.exposure_limit.errors %}<span style="color:red;">[{{ error }}]</span>{% endfor %}
        {% endif %}
    </p>
    <p>
        {{ form.unit.label }}<br>
        {{ form.unit(size=10) }}<br>
        {% if form.unit.errors %}
            {% for error in form.unit.errors %}<span style="color:red;">[{{ error }}]</span>{% endfor %}
        {% endif %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(rows=3, cols=40) }}<br>
        {% if form.description.errors %}
            {% for error in form.description.errors %}<span style="color:red;">[{{ error }}]</span>{% endfor %}
        {% endif %}
    </p>
    <p>
        {{ form.safety_measures.label }}<br>
        {{ form.safety_measures(rows=3, cols=40) }}<br>
        {% if form.safety_measures.errors %}
            {% for error in form.safety_measures.errors %}<span style="color:red;">[{{ error }}]</span>{% endfor %}
        {% endif %}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

<p><a href="{{ url_for('hazards') }}">Back to Hazard List</a></p>
{% endblock %}
